table
{
    border:none;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}
.styled-table th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-size: 1.5em;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;

}
.styled-table tr {
    border-bottom: 1px solid #dddddd;
    font-size: 1.2em;
}

.styled-table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tr:last-of-type {
    border-bottom: 2px solid #009879;
}

h1
{
    font-size: 2.5em;
}

 .styled-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
